.tasks{
    margin-top: 30px;
}

.tasks li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: 700ms;
}

.tasks li:hover{
    background-color: #CFCFCF;
    cursor: pointer;
}

.tasks li .edit{
    margin-right: 10px;
    color: #1572A1;
    cursor: pointer;
}

.tasks li .delete{
    margin-right: 10px;
    color: #E5707E;
    cursor: pointer;
}

.tasks li span{
    display: flex;
    align-items: center;
}