.main{
    background-color: #FFFFFF;
    padding: 40px;
    margin: 40px auto;
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 0 0 5px #AAAAAA;
    color: #41444B;
}

.title{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task{
    height: 40px;
    border: 1px solid #CFCFCF;
    min-width: 80%;
    margin: 0 10px;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    color: #41444B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.task:focus{
    border: 1px solid #AAA;
}

.btn{
    height: 40px;
    width: 40px;
    background-color: #BDD2B6;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #AAAAAA;
}