.main{
    background-color: #FFFFFF;
    padding: 40px;
    margin: 40px auto;
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 0 0 5px #AAAAAA;
    color: #41444B;
}

.title{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskText{
    height: 40px;
    border: 1px solid #CFCFCF;
    min-width: 80%;
    margin: 0 10px;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    color: #41444B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.taskText:focus{
    border: 1px solid #AAAAAA;
}

.btn{
    height: 40px;
    width: 40px;
    background-color: #BDD2B6;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #AAAAAA;
}

.tasks{
    margin-top: 30px;
}

.tasks li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: 700ms;
}

.tasks li:hover{
    background-color: #CFCFCF;
    cursor: pointer;
}

.tasks li .edit{
    margin-right: 10px;
    color: #1572A1;
    cursor: pointer;
}

.tasks li .delete{
    margin-right: 10px;
    color: #E5707E;
    cursor: pointer;
}

.tasks li span{
    display: flex;
    align-items: center;
}